.flutter-plugins-dependencies
.flutter-plugins
.dart_tool
.idea
build
flutter-plugins
pubspec.lock



.flutter-plugins-dependencies
.dart_tool/package_config.json
build


.flutter-plugins-dependencies
.dart_tool/package_config_subset
.dart_tool/package_config.json
android/local.properties
